.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}