.boardTitle {
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    color: #1d1d1f;
    margin-top: 10px;
}

.boardWrapper {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 6px;
    
}

.board {
    display: flex;
    gap: 20px;
    padding: 20px 0;
    width: max-content;
    margin: 0 auto;
}

.boardWrapper::-webkit-scrollbar {
    height: 6px;
}

.boardWrapper::-webkit-scrollbar-thumb {
    background: #bfbfbf;
    border-radius: 4px;
}