body {
    margin: 0;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    background: #f7f8fa;
}

body.ReactModal__Body--open {
    overflow: hidden;
}